#video-thumbnail {
    margin-top: 0;
    margin-bottom: 0;
}
#video-div {
    margin-bottom: 20px;
}
#submit-div {
    margin-top: 5px;
    text-align: right;
    margin-bottom: 10px;
}
#videoThumbnail {
    margin-top: 10px;
}
.at-oauth, .at-sep {
    display: none;
}
a.button-close {
    text-decoration: none;
}
#loginModal input{
    margin: 0 auto;
    width: 300px;
}

.overlay-wrapper {
    text-align: center;
}
.overlay-header {
    margin-top: 200px;
}
.overlay-social-actions {
    text-align: center;
}

.signinPrivacyMessages {
    margin-top: 40px;
    max-width: 500px;
    font-size: 12px;
    color: #b3b3b1;
    text-align: justify;
}

button.button-twitter, button.button-twitter:hover {
    width: 200px;
    margin: 20px auto;
    background-color: #55acee;
    border: 0;
    color: #fff;
}
#commenter {
    padding-top: 5px;
    padding-left: 5px;
    text-align: left;
    font-weight: bold;
    
}
.add-comment-div {
    margin-bottom: 100px;
}
.comments-div {
    display: none;
}
#commenter a {
    color: #446CB3;
}
#comments-box {
    display: none;
}
#comment-section {
    margin-top: 5px;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
#comments-list {
    min-height: 100px;
    background-color: #efefef;
    border-radius: 5px;
    margin-bottom: 20px;
}
button.button-facebook, button.button-facebook:hover {
    width: 200px;
    margin: 20px auto;
    background-color: #3b5998;
    border: 0;
    color: #fff;
}

button.btn-email {
    width: 200px;
    margin: 20px auto;
}

#show-comments p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
}

#show-comments {
    width: 400px;
    height: 40px;
    background-color: #D2D7D3;
    margin-top: 20px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
button.btn-google, button.btn-google:hover {
    width: 200px;
    margin: 20px auto;
    background-color: #d34836;
    border: 0;
    color: #fff;
}

#video-para {
    margin-left: -600px;
    margin-bottom: 5px;
}
#video-details {
    margin-left: -505px;
}
#li-adjust {
    /*margin-left: 10px;*/
}
#videoOverlay {
display: none;
position: fixed;
overflow: auto;
text-align: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
/*display: block;*/
z-index: 900;
background-color: rgba(255,255,255,0.97);
width: 100%;
padding: 0;
margin: 0;
border: 0;
}

#videoOverlay .button-close {
font-size: 32px;
padding: 10px 20px;
position: fixed;
top: 0;
right: 0;
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 300;
font-style: normal;
}

#overlay {
display: none;
position: fixed;
overflow: auto;
text-align: center;
top: 0;
left: 0;
bottom: 0;
right: 0;
/*display: block;*/
z-index: 900;
background-color: rgba(255,255,255,0.97);
width: 100%;
padding: 0;
margin: 0;
border: 0;
}

#overlay .button-close {
font-size: 32px;
padding: 10px 20px;
position: fixed;
top: 0;
right: 0;
font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
letter-spacing: -0.02em;
font-weight: 300;
font-style: normal;
}

/*#overlay {
background-image: url(../images/overlay.png);
width: 100%;
height: 100%;
margin: 0px;
position: fixed;
z-index: 20;
}*/

body {
    background-color: #f0f0f0;
}
.navbar{
     background-color: #e6e6e6; 
}

.navbar-btn{
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin: 3px 3px 3px 3px;
}
a{
    color: #8A8A8A;
}
p{
    color: #2E2E2E;
}
.nav-title{
    font-weight: bolder;
    font-family: cursive;
    font-size: 30px;
    color: #737373;
    padding: 20px 10px 10px 25px;
}

.videoheader{
    text-align: center;
}
.row
{
    padding-top: 5px;
}
.videotags{
    color: #e6e6e6;
}
img{
    border-radius: 10px;
}


.tags {
    background-color: #E8E8E8;
    width: 70px;
    height: 70px;
    margin: 5px 5px 5px 5px;
    padding: 6px 6px 6px 6px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
}

.tags:hover
{
z-index:100;
position:relative;
    
-moz-transform:rotate(4deg) scale(1.2);
-webkit-transform:rotate(4deg) scale(1.2);
}